{% extends "base.html" %}

{% load static %}

{% block title %}
Book Detail
{% endblock title %}

{% block sidenav %}
  {% for item in item_list %}
       <li>
           <a href="{{ item.link }}"> {{ item.item }} </a>
       </li>
  {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center"> Book Detail </h1>

<table align="center" border="2"  width="400">
       <tr>
           <td>
               {{ book.name }}
           </td>
           <td>
               <img src="{% static book.pic_path %}" width="100" height="100"/>
           </td>
           <td>
               {{ book.price }}
           </td>
           <td>
               {{ book.username }}
           </td>
       </tr>
        <tr>
            <td>
                {{ book.web }}
            </td>
            <td>
                {{ book.publishdate }}
            </td>
            {% if book.username != request.user %}
            <td>
                {% if book.id not in shopping_cart_ids %}
                <a href="/add_to_cart/{{ book.id }}">
                    Add to Cart
                </a>
                {% endif %}
                <br>
            </td>
            {% endif %}
        </tr>

</table>
{% endblock content %}