{% extends "base.html" %}

{% load static %}

{% block title %}
Post Book
{% endblock title %}



{% block content %}
<h1 align="center"> Post a Book</h1>

{% if submitted %}
<p style="text-align:center;"> Posted Book Successfully </p>
{% else %}
    <div class="container">
    <form action="" enctype="multipart/form-data" method="post" novalidate>
      <table class="table table">
          {{ form.as_table }}
          <tr>
              <td>
                  <input type="submit" value="Submit">
              </td>
          </tr>
      </table>
      {% csrf_token %}
  </form>
    </div>

{% endif %}
{% endblock content %}
